{% extends "socialaccount/base.html" %}

{% load bootstrap %}

{% block content %}
    <h1>Sign up</h1>

<p>You are about to use your {{ account.get_provider.name }} account to login to
{{ site.name }}. As a final step, please complete the following form:</p>

<form class="signup" id="signup_form" method="post" action="">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
  <button class="btn btn-primary"  type="submit">Sign up</button>
  </div>
</form>


{% endblock %}


