{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
<h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>

{% if token_fail %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>

{% else %}
{% if form %}
<form method="post" action="" class="uniForm">
  {% csrf_token %}
  {{form|bootstrap}}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Change Password</button>
  </div>
</form>
{% else %}
<p>Your password is now changed.</p>
{% endif %}
{% endif %}

{% endblock %}
